
body {
  background-color: hsl(30, 54%, 90%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 40px 0;
  line-height: 1.5;
}

.main-container {
 width: 90%;
 max-width: 600px;
 background-color: hsl(0, 0%, 100%);
 border-radius: 16px;
 padding: 30px;
 box-shadow: 0 0 20px rgba(0,0,0,0.05);
 display: flex;
 flex-direction: column;
}

img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
}

h1 {
  margin-bottom: auto;
  margin-top: 5px;
}

.description {
  font-size: 15px;
  padding-bottom: 15px;
}

.preparation {
  background-color: hsl(330, 100%, 98%);
  border-radius: 10px;
}

.pre-title {
  color: hsl(332, 51%, 32%);
  font-weight: 600;
  padding-top: 15px;
  padding-left: 25px;
  margin-top: 6px;
}

.preparation li {
  padding-left: 15px;
  padding-bottom: 10px;
  font-size: 15px;
}

.preparation li::marker {
  color: hsl(332, 51%, 32%);
}

.preparation ul {
  padding-left: 45px;
}

li::marker {
  color: hsl(14, 45%, 36%);
}


.ingredients li, .instructions li {
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 15px;
}

.ingredients ul, .instructions ol {
  padding-left: 20px;
}


h1, h2 {
  font-family: 'Young Serif', serif;
  font-weight: 400;
}

h2 {
  color: hsl(14, 45%, 36%);
  margin-bottom: 3px;
}

.nutrition-p {
  font-size: 15px;
}

.values p {
  border: none;
  border-bottom: 1px solid hsl(30, 18%, 87%);
  margin: 15px 0;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.values p:last-child {
  border-bottom: none;
}

.values {
  color: hsl(30, 10%, 34%);
  font-size: 15px;
}

.values p {
  display: flex;
  justify-content: space-between;
}

span {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
  width: 70px;
  margin-right: 30%;
}

li, p {
  color: hsl(30, 10%, 34%); 
}

hr {
  border: none;
  border-top: 1px solid hsl(30, 18%, 87%);
  margin: 25px 0;
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }

  .main-container {
    width: 100%;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
  }

  .main-container img {
    width: 100%;
    border-radius: 0;
    display: block;
  }

  .main-container > *:not(img) {
    padding: 0 24px;
  }

  h1 {
    font-size: 24px;
    line-height: 1.2;
  }

  p, li {
    font-size: 14px;
  }
}